version: '2'
services:
  web:
    build: ./website/
    ports: 
      - '80:80'
  db:
    image: mysql:5.7
    volumes: 
      - "/tmp/db/data:/var/lib/mysql"
      - "./db:/usr/src/db"
    restart: always
    hostname: db
    environment:
      MYSQL_ROOT_PASSWORD: $MYSQL_ROOT_PASSWORD
      MYSQL_DATABASE: $MYSQL_DATABASE
      MYSQL_USER: $MYSQL_USER
      MYSQL_PASSWORD: $MYSQL_PASSWORD
      TZ: 'Asia/Tokyo'
    ports:
      - 3306:3306
    command: mysql -u $MYSQL_USER -p$MYSQL_PASSWORD $MYSQL_DATABASE < "/usr/src/db/init.sql"
  api:
    depends_on:
      - db
    build: ./api/
    ports:
      - '8081:8080'
    links:
      - db