/* @media (orientation: portrait){
    html,body{
        margin:0;
        padding:0;
        font-size:30px;
    }
}
@media screen and (orientation: landscape){
    html,body{
        margin:0;
        padding:0;
        font-size:14px;
    }
} */

@media screen and (max-width: 700px){
    html,body{
        margin:0;
        padding:0;
        font-size:9px;
    }
}
@media screen and (min-width: 700px){
    html,body{
        margin:0;
        padding:0;
        font-size:16px;
    }
}
/* 共通部分 */
.my-red{
    color:red;
}
.my-blue{
    color:blue;
}
.my-green{
    color:green;
}
.hidden{
    display:none;
}
.pointable{
    cursor: pointer;
}
.header-bar{
    height:3.6em;
    width:100vw;
    position: absolute;
    top:0;
    background:linear-gradient(#003468,#0058b1);
    border-bottom:1px solid #003b75;
}
.header-text{
    font-size:2em;
    font-weight:600;
    color:white;
    margin:auto 10px;
}
.navi-bar{
    position:absolute;
    height:calc(100vh - 3.6em);
    width:5em;
    left:0;
    top:3.6em;
    background-color:#253340;
}
.icon{
    margin-top:20px;
    color:white;
    width:100%;
    height:1.2em;
    font-size:3em;
    text-align: center;
}
.side-bar{
    position:absolute;
    z-index: 10;
    height:100%;
    width:15em;
    top:0;
    left:5em;
    background-color:black;
    color:white;
    opacity: 0.7;
}
.side-bar-list{
    font-size:2em;
    height:1.4em;
    width:80%;
    margin:10px auto;
    border-radius: 5px;
    padding-top:10px;
    padding-left:20px;
    cursor: pointer;
}
.side-bar-list:hover{
    background-color:blue;
}
/* メイン画面 */
.main-contents{
    position:absolute;
    z-index: 0;
    width:calc(100vw - 5em);
    top:3.6em;
    left:5em;
}
.balance{
    display:inline;
    font-size: 1em;
}
.positive-balance{
    color:red;
}
.negative-balance{
    color:blue;
}
.date-select{
    height:2em;
    text-align: right;
    padding: 0 0.5em;
    font-size:1em;
}
.date-select-input{
    font-size:1em;
}
.date-select-button{
    font-size:1em;
}
.summary-content{
    width:100%;
    padding-top:15px;
    text-align:center;
    font-size:2em;
}
.switchCharts{
    margin:auto;
    text-align: center;
    padding-top:1em;
}
.switchChartsButton{
    font-size: 1.2em;
}
#pieChart{
    width:100%;
    margin:0;
}
/* 記入画面 */
.input-area{
    font-size:1em;
    margin:20px auto;
    text-align: center;
}
.input_table{
    margin-left: auto;
    margin-right: auto;
    font-size:1em;
}
.user_input_box{
    width:16em;
    height:2em;
    font-size:1em;
}
.input-area-button{
    margin: 0.2em 0.5em;
    font-size:1.2em;
}
/* 詳細画面 */
.detail-area{
    height:75vh;
    width:100%;
    margin: 1em auto;
    overflow-y: scroll;
}
.detail-modal-window{
    position:absolute;
    height:100%;
    width:100%;
    background-color: white;
    top:0;
    left:0;
}
.go-back-button{
    font-size: 3em;
    text-align: right;
    padding:0.2em 0.5em;
    color:#555555;
}
.detail-table{
    margin:30px auto;
    font-size:1.2em;
    text-align:center;
    border-collapse: collapse;
    border: solid 1px black;
    max-width:90%;
}
.detail-table th, .detail-table tr, .detail-table td{
    border: solid 1px black;
}
.detail-table tr, .detail-table td{
    padding:10px 1px;
    cursor:pointer;
}
.detail-table-cell{
    font-size:1em;
    width:7em;
    text-overflow:ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.income{
    background-color: rgba(0,255,0,0.2);
}
.outgo{
    background-color:rgba(255,0,0,0.2)
}